@model IEnumerable<ProjectBookStores.EF.Order>
@{
    ViewData["Title"] = "listOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<style>
    main {
        font-family: "SVN-Poppins", sans-serif;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }

    .title {
        display: flex;
        justify-content: center;
    }

    main .order {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    .table-order {
        width: 70%;
        border-collapse: collapse;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .table-order thead {
            background-color: #36344D;
            color: white;
        }

        .table-order th, .table-order td {
            padding: 18px;
            text-align: left;
        }

        .table-order th {
            text-transform: uppercase;
            font-weight: 600;
        }

        .table-order tbody tr {
            border-bottom: 1px solid #dddddd;
        }

            .table-order tbody tr:nth-of-type(even) {
                background-color: #f9f9f9;
            }

            .table-order tbody tr:hover {
                background-color: #f1f1f1;
            }

        .table-order td {
            vertical-align: middle;
        }

        .table-order a {
            text-decoration: none;
            text-align: center;
            padding: 10px;
            color: #fff;
            background-color: #36344D;
            border-radius: 8px;
        }
</style>
<main>
    <div class="title"><h2>ĐƠN HÀNG CỦA BẠN</h2></div>
    <div class="order">
        <table class="table-order">
            <thead>
                <tr>
                    <th>Mã đơn hàng</th>
                    <th>Ngày đặt hàng</th>
                    <th>Trạng thái</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Code</td>
                        <td>@item.OrderDate</td>
                        <td>@(item.StatusOrder ? "Đã xác nhận" : "Chưa xác nhận")</td>
                        <td><a asp-controller="Customer" asp-action="orderDetail" asp-route-id="@item.Id">Chi tiết</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>