@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model ProjectBookStores.Areas.Admin.Models.RegisterModel
<h1>Register</h1>
<div class="card">
    <div class="card-body">
        <div class="m-sm-3">
            <form asp-controller="Identity" asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="username" class="form-label"></label>
                    <input asp-for="username" class="form-control" autofocus />
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="email" class="form-label"></label>
                    <input asp-for="email" class="form-control" autofocus />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="password" class="form-label"></label>
                    <input asp-for="password" class="form-control" type="Password" autofocus />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="d-grid gap-2 mt-3">
                    <button type="submit" class="btn btn-lg btn-primary">Đăng ký</button>
                </div>
            </form>
        </div>
    </div>
</div>

